################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Compilers_Assignment1.vcxproj
/Compilers_Assignment1.vcxproj.filters
/Compilers_Assignment1.vcxproj.user
